<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
    <ul class="list-group">
      <li 
          *ngFor="let post of posts"
          class="list-group-item">
          {{ myJson.stringify(post) }}
      </li>
    </ul>
    
    <div class="formulario">
      <h3>Empleados</h3>
    
    <p>
     Agregar empleado
    </p>
    
    <div class="cart-item" >
      
    </div>
    
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    
      <div>
        <label for="nombre">
          Nombre: 
        </label>
        <br>
        <input id="nombre" type="text" formControlName="nombre">
      </div>
    
      <div>
        <label for="apellido">
          Apellido: 
        </label>
        <br>
        <input id="apellido" type="text" formControlName="apellido">
      </div>
      <div>
        <label for="direccion">
          Direccion:
        </label>
        <br>
        <input id="direccion" type="text" formControlName="direccion">
      </div>
    
      <div>
        <label for="fecha_nacimiento">
          Fecha de nacimiento: 
        </label>
        <br>
        <input  id="fecha_nacimiento" type="text" formControlName="fecha_nacimiento">
      </div>

      <div>
        <label for="telefono">
          Telefono: 
        </label>
        <br>
        <input  id="telefono" type="text" formControlName="telefono">
      </div>

      <div>
        <label for="email">
          Email: 
        </label>
        <br>
        <input  id="email" type="text" formControlName="email">
      </div>
    
      <button class="button" type="submit">Agregar</button>
    
    </form>
    </div>
    
    <ul class="list-group">
      <li 
          *ngFor="let productito of productos"
          class="list-group-item">
          {{ myJson.stringify(productito) }}
      </li>
    </ul>
    
    <div class="formulario">
      <h3>Producto</h3>
    
    <p>
     Agregar producto
    </p>
    
    <div class="cart-item" >
      
    </div>
    
    <form [formGroup]="productoForm" (ngSubmit)="onSubmitProducto()">
    
      <div>
        <label for="nombre">
          Nombre: 
        </label>
        <br>
        <input id="nombre" type="text" formControlName="nombre">
      </div>
    
      <div>
        <label for="precio">
          Precio: 
        </label>
        <br>
        <input id="precio" type="text" formControlName="precio">
      </div>
      <div>
        <label for="stock">
          Stock:
        </label>
        <br>
        <input id="stock" type="text" formControlName="stock">
      </div>    
    
      <button class="button" type="submit">Agregar</button>
    
    </form>
    </div>
</body>
</html>
