input{
    border-radius: 15px;
}
.formulario{
    text-align: center;
    width: 30%;
    height: 400px;
    background-color: aqua;
    margin-left: 35%;
    border-radius: 20px;
    border-style: solid;
    opacity: 0.8;
    font-weight: bold;
}
button{
    margin-top: 5%;
    border-style: solid;
    border-radius: 8px;
    
}
